{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BongoBet</title>
    <meta name="description" content="eSports - Gaming BET Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tg-cursor.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- Page-Revealer -->
    <script src="{% static 'assets/js/tg-page-head.js' %}"></script>
</head>

<body>


    <!-- scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- scroll-top-end-->

    <!-- header-area -->
    <header>
        {% include 'components/menu/topmenu.html'  %}
    </header>



    <main class="main--area">

        <!-- area-background-start -->
        <div class="area-background" data-background="{% static 'assets/img/bg/area_bg01.jpg' %}">

        <!-- about-area -->
        <section class="about__area section-pt-130 section-pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-60">
                            <span class="sub-title tg__animate-text">Aposte em seus jogos favoritos</span>
                            <h3 class="title">Escolha sua plataforma</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="about__tab-wrap">
     
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="about01-tab" data-bs-toggle="tab" data-bs-target="#about01" type="button" role="tab" aria-controls="about01" aria-selected="true"><span class="img-shape"></span><img src="{% static 'assets/img/others/about_tab01.png' %}" alt="img"></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="about02-tab" data-bs-toggle="tab" data-bs-target="#about02" type="button" role="tab" aria-controls="about02" aria-selected="false"><span class="img-shape"></span><img src="{% static 'assets/img/others/about_tab02.png' %}" alt="img"></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="about03-tab" data-bs-toggle="tab" data-bs-target="#about03" type="button" role="tab" aria-controls="about03" aria-selected="false"><span class="img-shape"></span><img src="{% static 'assets/img/others/about_tab03.png' %}" alt="img"></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="about04-tab" data-bs-toggle="tab" data-bs-target="#about04" type="button" role="tab" aria-controls="about04" aria-selected="false"><span class="img-shape"></span><img src="{% static 'assets/img/others/about_tab04.png' %}" alt="img"></button>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="about01" role="tabpanel" aria-labelledby="about01-tab">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-10">
                                <div class="about__img">
                                    <img src="{% static 'assets/img/others/about_img01.jpg' %}" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-10">
                                <div class="about__flex-wrap">
                                    <div class="about__content-wrap">
                                        <div class="about__content">
                                            <h4 class="title">League of Legends</h4>
                                            <span class="rate">Ranked Solo ou Flex</span>
                                            <p>Procure pelo nome do invocador, e veja opções de aposta para seu próximo jogo rankeado. Você pode apostar em você ou em outros jogadores.</p>
                                        </div>
                                        <div class="about__content-list">
                                            <ul class="list-wrap">
												<li><img src="{% static 'assets/img/icons/money_icon.png' %}" alt="img"> Até R$20</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="about__btn-wrap">
                                        <ul class="list-wrap">
                                            <div class="footer-newsletter">
												<form action="{% url 'lolbet' %}" id="formSummoner" method="get" class="footer-newsletter-form">
													<input type="text" name="summonerName" placeholder="Nome do Invocador"  class="footer-newsletter-input">
													<button id="submitBtnLol" type="submit"><i class="flaticon-paper-plane"></i></button>
                                                    <div class="loading" id="loading"></div>
												</form>
											</div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="about02" role="tabpanel" aria-labelledby="about02-tab">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-10">
                                <div class="about__img">
                                    <img src="{% static 'assets/img/others/about_img02.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-10">
                                <div class="about__flex-wrap">
                                    <div class="about__content-wrap">
                                        <div class="about__content">
                                            <h4 class="title">Dota 2</h4>
                                            <span class="rate">Crusader 3+</span>
                                            <p>Aposte em sua próxima partida rankeada de Dota ou em seu jogador favorito das divisões Crusaders e acima.</p>
                                        </div>
                                        <div class="about__content-list">
                                            <ul class="list-wrap">
                                                <li><img src="{% static 'assets/img/icons/icon_crusader3_dota.png' %}" alt="img">Crusader 3+</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="about__btn-wrap">
                                        <ul class="list-wrap">
                                            <li><a href="shop-details.html">Dragon Ball</a></li>
                                            <li><a href="shop.html">nft market</a></li>
                                            <li><a href="contact">support</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="about03" role="tabpanel" aria-labelledby="about03-tab">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-10">
                                <div class="about__img">
                                    <img src="{% static 'assets/img/others/about_img03.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-10">
                                <div class="about__flex-wrap">
                                    <div class="about__content-wrap">
                                        <div class="about__content">
                                            <h4 class="title">Fortnite</h4>
                                            <span class="rate">Prata 2+</span>
                                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis.</p>
                                        </div>
                                        <div class="about__content-list">
                                            <ul class="list-wrap">
                                                <li><img src="{% static 'assets/img/icons/features_icon01.png' %}" alt="img"> Chichi Dragon Ball</li>
                                                <li><img src="{% static 'assets/img/icons/features_icon02.png' %}" alt="img"> Space Babe Night</li>
                                                <li><img src="{% static 'assets/img/icons/features_icon03.png' %}" alt="img"> Dragon Ball</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="about__btn-wrap">
                                        <ul class="list-wrap">
                                            <li><a href="shop-details.html">Dragon Ball</a></li>
                                            <li><a href="shop.html">nft market</a></li>
                                            <li><a href="contact">support</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="about04" role="tabpanel" aria-labelledby="about04-tab">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-10">
                                <div class="about__img">
                                    <img src="{% static 'assets/img/others/about_img04.jpg' %}" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-10">
                                <div class="about__flex-wrap">
                                    <div class="about__content-wrap">
                                        <div class="about__content">
                                            <h4 class="title">Teamfight Tatics</h4>
                                            <span class="rate">Ouro 2+</span>
                                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis.</p>
                                        </div>
                                        <div class="about__content-list">
                                            <ul class="list-wrap">
                                                <li><img src="{% static 'assets/img/icons/features_icon01.png' %}" alt="img"> Chichi Dragon Ball</li>
                                                <li><img src="{% static 'assets/img/icons/features_icon02.png' %}" alt="img"> Space Babe Night</li>
                                                <li><img src="{% static 'assets/img/icons/features_icon03.png' %}" alt="img"> Dragon Ball</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="about__btn-wrap">
                                        <ul class="list-wrap">
                                            <li><a href="shop-details.html">Dragon Ball</a></li>
                                            <li><a href="shop.html">nft market</a></li>
                                            <li><a href="contact">support</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>

         

    </main>

    <footer class="footer-style-one">
        {% include 'components/footer/footer.html'  %}
    </footer>
   



    <!-- JS here -->
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.odometer.min.js' %}"></script>
    <script src="{% static 'assets/js/simpleParallax.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/scrollTrigger.min.js' %}"></script>
    <script src="{% static 'assets/js/splitText.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/tg-cursor.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'assets/js/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/js/parallax.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'assets/js/vivus.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/loading.js' %}"></script>
</body>

</html>