{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BongoBet</title>
    <meta name="description" content="eSports - Gaming BET Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tg-cursor.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- Page-Revealer -->
    <script src="{% static 'assets/js/tg-page-head.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('formBet');
        var submitButton = form.querySelector('.tournament__details-form-btn');

        submitButton.addEventListener('click', function (event) {
            event.preventDefault();

            // Aqui você pode adicionar lógica adicional, como validar os campos do formulário antes de enviar para o servidor.

            // Enviar o formulário usando AJAX
            var formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
            })
            .then(response => response.json())
            .then(data => {
                // Exibir popup de confirmação
                alert('Aposta realizada com sucesso!'); // Você pode substituir isso por uma biblioteca de popup mais elegante, como SweetAlert.

                // Aqui você pode adicionar mais lógica se necessário.

                // Redirecionar ou recarregar a página, se necessário.
                window.location.reload();
            })
            .catch(error => {
                console.error('Erro ao processar a aposta:', error);
                // Manipular erros, se necessário.
            });
        });
    });
</script>

</head>

<body>

    <!-- scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- scroll-top-end-->

    <!-- header-area -->
    <header>
        {% include 'components/menu/topmenu.html'  %}
    </header>

    <!-- main-area -->
    <main class="main--area">    

        <!-- area-background-start -->
        <div class="area-background" data-background="{% static 'assets/img/bg/area_bg02.jpg' %}">

        <!-- about-area -->
        <section class="about__area-two section-pt-160 section-pb-190">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-6 col-lg-6 order-0 order-lg-2">
                        <div class="about__funFact-images">
                            <img src="{% static 'assets/img/others/fun_fact_shape.png' %}" alt="background" class="bg-shape">
                            <img src="{{urlProfileImg}}" class="main-img" alt="image">
                        </div>
                        <div class="about__funFact-trophy">
                            <div class="icon"><img src="{% static 'assets/img/icons/'|add:iconRankSolo %}" alt="trophy"></div>
                            <div class="content">
                                <h5>{{soloRanked}} </h5>
                                <span>Solo/Duo</span>
                            </div>
                        </div>
                        <div class="about__funFact-trophy">
                            <div class="icon"><img src="{% static 'assets/img/icons/'|add:iconRankFlex %}" alt="trophy"></div>
                            <div class="content">
                                <h5>{{flexRank}} </h5>
                                <span>Flex 5v5</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="section__title text-start mb-30">
                            <h3 class="title">Aposte na vitória do <br>{{userProfile.name}}</h3>
            
                        </div>
                        <div class="about__content-two">
                            <p>Aposte nesse jogador em sua próxima vitória na fila Rankeada ou ARAM. Você pode cancelar sua aposta a qualquer instante desde que a partida apostada não tenha sido iniciada.</p>
                        </div>
                        <div class="about__content-bottom">
                            
                            <div class="about__funFact-wrap">
                                <div class="about__funFact-lists">
									<div class="about__funFact-item">
                                        <h2 class="count">
                                            <span class="odometer" data-count="{{userProfile.summonerLevel}}"></span>
                                            <span class="formatting-mark"></span>
                                        </h2>
                                        <p>Level</p>
                                    </div>
                                </div>
                                </br>
                                <div class="about__funFact-lists">
                                    <div class="about__funFact-item">
                                        <h2 class="count">
                                            <span class="odometer" data-count="{{partidasSolo}}"></span>
                                            <span class="formatting-mark"></span>
                                        </h2>
                                        <p>Partidas Solo/Duo</p>
                                    </div>
									<div class="about__funFact-item">
                                        <h2 class="count">
                                            <span class="odometer" data-count="{{winsSolo}}"></span>
                                            <span class="formatting-mark"></span>
                                        </h2>
                                        <p>Vitórias</p>
                                    </div>
                                    <div class="about__funFact-item">
                                        <h2 class="count">
                                            <span class="odometer" data-count="{{lossesSolo}}"></span>
                                            <span class="formatting-mark"></span>
                                        </h2>
                                        <p>Derrotas</p>
                                    </div>
                                    <div class="about__funFact-item">
                                        <h2 class="count">
                                            <span class="odometer" data-count="{{winrateSolo}}"></span>
                                            <span class="formatting-mark">%</span>
                                        </h2>
                                        <p>Winrate</p>
                                    </div>
                                </div>
                            </br>
                            <div class="about__funFact-lists">
                                <div class="about__funFact-item">
                                    <h2 class="count">
                                        <span class="odometer" data-count="{{partidasFlex}}"></span>
                                        <span class="formatting-mark"></span>
                                    </h2>
                                    <p>Partidas Flex 5x5&nbsp;</p>
                                </div>
                                <div class="about__funFact-item">
                                    <h2 class="count">
                                        <span class="odometer" data-count="{{winsFlex}}"></span>
                                        <span class="formatting-mark"></span>
                                    </h2>
                                    <p>Vitórias</p>
                                </div>
                                <div class="about__funFact-item">
                                    <h2 class="count">
                                        <span class="odometer" data-count="{{lossesFlex}}"></span>
                                        <span class="formatting-mark"></span>
                                    </h2>
                                    <p>Derrotas</p>
                                </div>
                                <div class="about__funFact-item">
                                    <h2 class="count">
                                        <span class="odometer" data-count="{{winrateFlex}}"></span>
                                        <span class="formatting-mark">%</span>
                                    </h2>
                                    <p>Winrate</p>
                                </div>
                            </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about__area-two section-pt-160 section-pb-190">
            <div class="container">
                <h3 >Últimos jogos</h3>                  
                    {% for match in matchHistory %}
                            {% include 'components/pastmatch/index.html' with match=match  %}
                    {% endfor %}
            </div>
        </section>

        <!-- tournament-list-area -->
        <section class="tournament__list-area section-pb-120 section-pt-120" data-background="{% static 'assets/img/bg/tournament_bg.jpg' %}">
            <div class="container">
                <div class="tournament__wrapper">
                    <div class="row align-items-end mb-60">
                        <div class="col-lg-8">
                            <div class="section__title text-center text-lg-start title-shape-none">
                                <span class="sub-title tg__animate-text">Hora do Jogo</span>
                                <h3 class="title">Apostas Disponíveis</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form action="{% url 'bet' %}" id="formBet" method="post" class="footer-newsletter-form">
                            {% csrf_token %}
                            <div class="tournament__list-item-wrapper">
                                <div class="tournament__list-item wow fadeInUp" data-wow-delay=".2s">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1116.562" height="163.37" viewBox="0 0 1116.562 163.37">
                                        <path class="background-path" d="M708,1784l28-27s4.11-5.76,18-6,702-1,702-1a37.989,37.989,0,0,1,16,9c7.47,7.08,37,33,37,33s9.02,9.47,9,18,0,42,0,42-0.19,9.43-11,19-32,30-32,30-5.53,11.76-21,12-985,0-985,0a42.511,42.511,0,0,1-26-13c-11.433-12.14-34-32-34-32s-6.29-5.01-7-17,0-43,0-43-1-5.42,12-18,34-32,34-32,10.4-8.28,19-8,76,0,76,0a44.661,44.661,0,0,1,21,11c9.268,8.95,22,22,22,22Z" transform="translate(-401.563 -1749.875)" />
                                    </svg>
                                    <div class="tournament__list-content">
                                        <div class="tournament__list-thumb">
                                            <a href="tournament-details.html"><img src="{% static 'assets/img/icons/victory.png' %}" alt="thumb"></a>
                                        </div>
                                        <div class="tournament__list-name">
                                            <h5 class="team-name">Condição</h5>
                                            <span class="status" name="victoryCondition">Vitória no próximo jogo</span>
                                        </div>
                                        <div class="tournament__list-prize">
                                            <h6 class="title">Aposta MAX</h6>
                                            <i class="fas fa-trophy"></i>
                                            <span>R$20</span>
                                        </div>
                                        <div class="tournament__list-time">
                                            <h6 class="title">Multiplicador</h6>
                                            <span>1.4</span>
                                        </div>
                                        <div class="tournament__list-live">
                                            {% if user.is_authenticated %}
                                                <input type="checkbox" id="activeVictory" name="activeVictory" checked disabled>
                                                <label for="activeVictory" >ATIVAR</label>

                                                <select name="gameType">
                                                    <option value="Ranked SOLO/DUO">Ranked SOLO/DUO</option>
                                                    <option value="Ranked Flex">Ranked Flex</option>
                                                    <option value="ARAM">ARAM</option>
                                                </select>
                                                                                    
                                                </br>
                                                <label for="betVictoryInput">Valor da Aposta:</label>
                                                <input type="number" id="betVictoryInput" name="betVictoryInput" step="0.1">
                                            {% else %}
                                                <a href="/accounts/login" target="_blank">APOSTAR</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tournament__list-item wow fadeInUp" data-wow-delay=".4s">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1116.562" height="163.37" viewBox="0 0 1116.562 163.37">
                                        <path class="background-path" d="M708,1784l28-27s4.11-5.76,18-6,702-1,702-1a37.989,37.989,0,0,1,16,9c7.47,7.08,37,33,37,33s9.02,9.47,9,18,0,42,0,42-0.19,9.43-11,19-32,30-32,30-5.53,11.76-21,12-985,0-985,0a42.511,42.511,0,0,1-26-13c-11.433-12.14-34-32-34-32s-6.29-5.01-7-17,0-43,0-43-1-5.42,12-18,34-32,34-32,10.4-8.28,19-8,76,0,76,0a44.661,44.661,0,0,1,21,11c9.268,8.95,22,22,22,22Z" transform="translate(-401.563 -1749.875)" />
                                    </svg>
                                    <div class="tournament__list-content">
                                        <div class="tournament__list-thumb">
                                            <a href="tournament-details.html"><img src="{% static 'assets/img/others/tournament_thumb02.png' %}" alt="thumb"></a>
                                        </div>
                                        <div class="tournament__list-name">
                                            <h5 class="team-name">Condição</h5>
                                            <span class="status" name="firstBloodCondition">FIRST BLOOD</span>
                                        </div>
                                        <div class="tournament__list-prize">
                                            <h6 class="title">Aposta MAX</h6>
                                            <i class="fas fa-trophy"></i>
                                            <span>R$20</span>
                                        </div>
                                        <div class="tournament__list-time">
                                            <h6 class="title">Multiplicador</h6>
                                            <span>1.6</span>
                                        </div>
                                        <div class="tournament__list-live">
                                            {% if user.is_authenticated %}
                                                <input type="checkbox" id="activeFirstBlood" name="activeFirstBlood">
                                                <label for="activeFirstBlood" >ATIVAR</label>                                    
                                                </br>
                                                <label for="betFirstBloodInput">Valor da Aposta:</label>
                                                <input type="number" id="betFirstBloodInput" name="betFirstBloodInput" step="0.1">
                                            {% else %}
                                                <a href="/accounts/login" target="_blank">APOSTAR</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tournament__list-item wow fadeInUp" data-wow-delay=".6s">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1116.562" height="163.37" viewBox="0 0 1116.562 163.37">
                                        <path class="background-path" d="M708,1784l28-27s4.11-5.76,18-6,702-1,702-1a37.989,37.989,0,0,1,16,9c7.47,7.08,37,33,37,33s9.02,9.47,9,18,0,42,0,42-0.19,9.43-11,19-32,30-32,30-5.53,11.76-21,12-985,0-985,0a42.511,42.511,0,0,1-26-13c-11.433-12.14-34-32-34-32s-6.29-5.01-7-17,0-43,0-43-1-5.42,12-18,34-32,34-32,10.4-8.28,19-8,76,0,76,0a44.661,44.661,0,0,1,21,11c9.268,8.95,22,22,22,22Z" transform="translate(-401.563 -1749.875)" />
                                    </svg>
                                    <div class="tournament__list-content">
                                        <div class="tournament__list-thumb">
                                            <a href="tournament-details.html"><img src="{% static 'assets/img/others/tournament_thumb03.png' %}" alt="thumb"></a>
                                        </div>
                                        <div class="tournament__list-name">
                                            <h5 class="team-name">Condição</h5>
                                            <span class="status" name="firstBaronCondition">Primeiro Baron</span>
                                        </div>
                                        <div class="tournament__list-prize">
                                            <h6 class="title">Aposta MAX</h6>
                                            <i class="fas fa-trophy"></i>
                                            <span>R$20</span>
                                        </div>
                                        <div class="tournament__list-time">
                                            <h6 class="title">Multiplicador</h6>
                                            <span>1.4</span>
                                        </div>
                                        <div class="tournament__list-live">
                                            {% if user.is_authenticated %}
                                                <input type="checkbox" id="activeFirstBaron" name="activeFirstBaron">
                                                <label for="activeFirstBaron" >ATIVAR</label>                                    
                                                </br>
                                                <label for="betBaronInput">Valor da Aposta:</label>
                                                <input type="number" id="betBaronInput" name="betBaronInput" step="0.1">
                                            {% else %}
                                                <a href="/accounts/login" target="_blank">APOSTAR</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <button class="tournament__details-form-btn">APOSTAR</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- about-area-end -->
    </main>
    <!-- main-area-end -->


    <!-- footer-area-start -->
    <footer class="footer-style-two has-footer-animation">
        {% include 'components/footer/footer.html'  %}
    </footer>
    <!-- footer-start-end -->

    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.odometer.min.js' %}"></script>
    <script src="{% static 'assets/js/simpleParallax.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/scrollTrigger.min.js' %}"></script>
    <script src="{% static 'assets/js/splitText.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/tg-cursor.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'assets/js/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/js/parallax.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'assets/js/vivus.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>