{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/pastmatch.css' %}" />

<div class="match-card {% if match.win %}win{% else %}lose{% endif %}">
  <div class="match-card__border-left {% if match.win %}win{% else %}lose{% endif %}"></div>
  <div class="match-card__content">
    <div class="match-card__match-info">
      <div class="match-card__text">
        <span class="{% if match.win %}win{% else %}lose{% endif %}"><b>{{match.gameType}}</b></span>
      </div>
      <div class="match-card__text">{{match.time_string}}</div>
      <div class="divider-horizontal {% if match.win %}win{% else %}lose{% endif %}"></div>
      <div class="match-card__text"><b>{{match.result}}</b></div>
      <div class="match-card__text">{{match.duration_string}}</div>
    </div>
    <div class="match-card__player-info">
      <div class="match-card__player-details">
        <div class="match-card__champion">
          <img
            class="match-card__champion-image"
            src="{{ match.championImg }}"
            alt="{{ match.championName }}"
          />
          <div class="match-card__level_badge">{{ match.championLevel }}</div>
        </div>
        <div class="match-card__spells">
          <img
            class="match-card__spell-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/SummonerFlash.png"
            alt="Flash"
          />
          <img
            class="match-card__spell-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/SummonerDot.png"
            alt="Ignite"
          />
        </div>
        <div class="match-card__runes">
          <img
            class="match-card__rune-image"
            src="https://ddragon.canisback.com/img/perk-images/Styles/7201_Precision.png"
            alt="Precision"
          />
          <img
            class="match-card__spell-image"
            src="https://ddragon.canisback.com/img/perk-images/Styles/7200_Domination.png"
            alt="Domination"
          />
        </div>
        <div class="match-card__kda">
          <div class="match-card__kda-numbers">
            <span
              >{{ match.kills }} /
              <div class="defeat">{{ match.deaths }}</div>
              / {{ match.assists }}</span
            >
            <div class="match-card__text">2.13:1 KDA</div>
          </div>
          <div class="match-card__kda-stats divider-victory">
            <div class="match-card__text">
              <span class="defeat"><b>P/Kill {{match.killParticipation}}%</b></span>
            </div>
            <div class="match-card__text">Control Ward {{ match.controlWardsPlaced}}</div>
            <div class="match-card__text">CS {{match.totalMinionsKilled}}</div>
            <div class="match-card__text">Platinum 2</div>
          </div>
        </div>
      </div>
      <div class="match-card__player-items">
        {% if match.item0 %}
          <img
            class="match-card__item-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{match.item0}}.png"
            alt="Faerie Charm"
          />
        {% else %}
          <img
            class="match-card__item-image"
            src="{% static 'assets/img/icons/slot_vazio.png' %}" 
            alt="Item Vazio"
          />
        {% endif %}
        {% if match.item1 %}
          <img
            class="match-card__item-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{match.item1}}.png"
            alt="Rejuvenation Bead"
          />
        {% else %}
          <img
            class="match-card__item-image"
            src="{% static 'assets/img/icons/slot_vazio.png' %}" 
            alt="Item Vazio"
          />
        {% endif %}
        {% if match.item2 %}
          <img
            class="match-card__item-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{match.item2}}.png"
            alt="Giant's Belt"
          />
        {% else %}
          <img
            class="match-card__item-image"
            src="{% static 'assets/img/icons/slot_vazio.png' %}" 
            alt="Item Vazio"
          />
        {% endif %}
        {% if match.item3 %}
          <img
            class="match-card__item-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{match.item3}}.png"
            alt="Cloak of Agility"
          />
        {% else %}
          <img
            class="match-card__item-image"
            src="{% static 'assets/img/icons/slot_vazio.png' %}" 
            alt="Item Vazio"
          />
        {% endif %}
        {% if match.item4 %}
          <img
            class="match-card__item-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{match.item4}}.png"
            alt="Blasting Wand"
          />
        {% else %}
          <img
            class="match-card__item-image"
            src="{% static 'assets/img/icons/slot_vazio.png' %}" 
            alt="Item Vazio"
          />
        {% endif %}

        {% if match.item5 %}
          <img
            class="match-card__item-image"
            src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{match.item5}}.png" 
            alt="Sapphire Crystal"
          />
        {% else %}
          <img
            class="match-card__item-image"
            src="{% static 'assets/img/icons/slot_vazio.png' %}" 
            alt="Item Vazio"
          />
        {% endif %}
        <div class="match-card__tag double-kill">Double Kill</div>
        <div class="match-card__tag ace">ACE</div>
      </div>
    </div>
    
    <div class="match-card__team-info">
      {% for player in match.teams|slice:":5" %}
      <div class="match-card__match-player">
        <img
          class="match-card__player-image"
          src="{{ player.champImg }}"
          alt="{{player.championPlayed}}"
        />
        <span class="match-card__text highlighted">{{player.playerName}}</span>
      </div>
      {% endfor %}
    </div>
    <div class="match-card__team-info">
      {% for player in match.teams|slice:"-5:" %}
      <div class="match-card__match-player">
        <img
          class="match-card__player-image"
          src="{{ player.champImg }}"
          alt="{{player.championPlayed}}"
        />
        <span class="match-card__text highlighted">{{player.playerName}}</span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="match-card__expand-btn">
    <div class="match-card__arrow-btn">
      <svg
        width="24"
        height="24px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        id="arrowdown"
        version="1.1"
      >
        <g id="layer1" transform="rotate(45 1254.793 524.438)">
          <path
            style="
              fill: rgba(255,255,255,0.25);
              fill-opacity: 1;
              fill-rule: evenodd;
              stroke: none;
              stroke-width: 1px;
              stroke-linecap: butt;
              stroke-linejoin: miter;
              stroke-opacity: 1;
            "
            d="M.536 1044.409v-1.997h9v-9h2v11z"
            id="path4179"
          />
        </g>
      </svg>
    </div>
  </div>
</div>
